body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1116px;
  background:-webkit-linear-gradient(270deg, rgba(101, 104, 205, 1) 0%, rgba(101, 104, 205, 1) 2%, rgba(53, 200, 253, 1) 100%, rgba(53, 200, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(101, 104, 205, 1) 0%, rgba(101, 104, 205, 1) 2%, rgba(53, 200, 253, 1) 100%, rgba(53, 200, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(101, 104, 205, 1) 0%, rgba(101, 104, 205, 1) 2%, rgba(53, 200, 253, 1) 100%, rgba(53, 200, 253, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 173, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:122px;
  width:120px;
  height:1116px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:103px;
  width:120px;
  height:41px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:144px;
  width:120px;
  height:41px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#44AAEE;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:224px;
  width:121px;
  height:41px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#44AAEE;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:185px;
  width:119px;
  height:41px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:115px;
  word-wrap:break-word;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:103px;
  background:-webkit-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(102, 102, 204, 1) 100%, rgba(102, 102, 204, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(102, 102, 204, 1) 100%, rgba(102, 102, 204, 1) 100%);
  background:linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(102, 102, 204, 1) 100%, rgba(102, 102, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 102, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 102, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 102, 0.349019607843137);
  font-family:'华文隶书';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:0px;
  width:922px;
  height:103px;
  font-family:'华文隶书';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:918px;
  word-wrap:break-word;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:257px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:257px;
  width:201px;
  height:41px;
}
#u629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:317px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:317px;
  width:201px;
  height:41px;
}
#u632_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:475px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:374px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:374px;
  width:201px;
  height:41px;
}
#u637_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:198px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:198px;
  width:201px;
  height:41px;
}
#u640_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:141px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:141px;
  width:201px;
  height:41px;
}
#u643_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:264px;
  width:119px;
  height:41px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:115px;
  word-wrap:break-word;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC33;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:265px;
  width:92px;
  height:38px;
  font-size:16px;
  color:#00CC33;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:63px;
  height:19px;
}
#u646p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:6px;
}
#u646p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:6px;
}
#u646p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u646p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u646p002 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u646p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:282px;
  width:54px;
  height:1px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:63px;
  height:19px;
}
#u647p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:60px;
  height:6px;
}
#u647p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:6px;
}
#u647p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u647p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u647p002 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u647p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:161px;
  width:54px;
  height:1px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:63px;
  height:19px;
}
#u648p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:60px;
  height:6px;
}
#u648p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:6px;
}
#u648p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u648p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u648p002 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u648p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:218px;
  width:54px;
  height:1px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC33;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:142px;
  width:92px;
  height:38px;
  font-size:16px;
  color:#00CC33;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC33;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:200px;
  width:92px;
  height:38px;
  font-size:16px;
  color:#00CC33;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:63px;
  height:19px;
}
#u651p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:60px;
  height:6px;
}
#u651p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:6px;
}
#u651p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u651p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u651p002 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u651p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:284px;
  width:54px;
  height:1px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC33;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:266px;
  width:111px;
  height:38px;
  font-size:16px;
  color:#00CC33;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  background:inherit;
  background-color:rgba(68, 170, 238, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:427px;
  width:95px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:427px;
  width:201px;
  height:41px;
}
#u655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
